<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AuraShield Team</title>

    <link href="../static/css/team.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="../static/img/AS_logo.png">

    <script src="../static/js/team.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body id="body">
    <div class="loader"></div>
    <div class="container-sm position-absolute" id="back-btn-container">
        <a href="/">
            <svg id="back-btn" viewBox="0 0 98 59" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M94.0027 33.4891C96.2118 33.4891 98.0027 31.6982 98.0027 29.4891C98.0027 27.2799 96.2118 25.4891 94.0027 25.4891V33.4891ZM1.17426 26.6606C-0.38784 28.2227 -0.38784 30.7554 1.17426 32.3175L26.6301 57.7733C28.1922 59.3354 30.7249 59.3354 32.287 57.7733C33.8491 56.2112 33.8491 53.6786 32.287 52.1165L9.65954 29.4891L32.287 6.86166C33.8491 5.29956 33.8491 2.7669 32.287 1.2048C30.7249 -0.357294 28.1922 -0.357294 26.6301 1.2048L1.17426 26.6606ZM94.0027 25.4891L4.00269 25.4891V33.4891L94.0027 33.4891V25.4891Z" fill="#2BFFF2"/>
            </svg>
        </a>
    </div>
    <div class="container-sm title text-center">
        <h1>Aura-Shield</h1>
        <p>Presented by: Team 16</p>
    </div>
    <div class="container-sm card-container position-relative text-center">
        <div class="card" id="card1">
            <div class="profileImage">
              <img src="../static/img/user.png" style="height: 170px; width: 170px;">
          
            </div>
            <div class="textContainer">
              <p class="name">Asna Khan SS</p>
              <p class="profile">MCE20CS033</p>
              <p class="profile">asnakhan0302@gmail.com</p>
            </div>
        </div>
        <div class="card" id="card2">
            <div class="profileImage">
              <img src="../static/img/user.png" style="height: 170px; width: 170px;">
          
            </div>
            <div class="textContainer">
              <p class="name">Gayathri R</p>
              <p class="profile">MCE20CS053</p>
              <p class="profile">rirthayag@gmail.com</p>
            </div>
        </div>
    </div>
</body>
</html>